.cont{
    width: 50%;
    margin: auto;
    h2{
        display: block;
        text-align: center;
        font-family: 'Montserrat 400', sans-serif;
        font-weight: 700;
        font-size: 1.6em;
        color: #054752;
        margin: 10px 0;
    }
    .container{
        
    }
}